{% extends "layout/base_layout.html" %}

{% block title %}
<title>吾爱魔兽|Not-Found</title>
{% endblock %}

{% block headstyle %}
    <style type=text/css>
    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    {#body {#}
    {#  background: url(/static/images/404.png) no-repeat center right;#}
    {#}#}

    a { color: #0f0f90; }
    a:hover { color: #1245EC; }

    h1 {
      font-family: 'Garamond', 'Georgia', serif;
      font-weight: normal;
      color: #cfd0d3;
      font-size: 36px;
      padding: 50px 0 10px 50px;
      margin: 0;
    }

    p {
      font-family: 'Georgia', serif;
      color: #bfc0c4;
      font-size: 17px;
      padding: 10px 0 0 90px;
      margin: 0;
      width: 360px;
    }
    </style>
{% endblock %}

{% block body %}
    <h1 style="margin-top: 0px;">{%trans%}404 Not Found!{%endtrans%}</h1>
    <p>{%trans%} 返回 {%endtrans%}<a href=/>{%trans%}首页{%endtrans%}</a>
{% endblock %}

{% block bottom %}
{% endblock %}
