Flask == 1.0.2
Flask-Bootstrap 
Flask-SQLAlchemy<3.0
Flask-Script
Flask-migrate
Flask-mail
Flask-WTF
Flask-Login
Flask-cache
Flask-SQLAlchemy-Cache
Flask-debugtoolbar
Flask-user<0.7
Flask-babel
passlib
Pillow
cffi
MySQL-python
SQLAlchemy
dogpile.cache==0.5.4
dogpile.core==0.4.1
# uwsgi>2.0.2
redis
gevent
celery[gevent,redis]
