Flask == 1.0.2
Flask-Bootstrap 
Flask-SQLAlchemy
Flask-Script
Flask-migrate
Flask-mail
Flask-WTF
Flask-Login
Flask-cache
Flask-debugtoolbar
Flask-user<0.7
Flask-babel
passlib
Pillow
cffi
MySQL-python
SQLAlchemy
# uwsgi>2.0.2
redis
gevent
celery[gevent,redis]
