<ul id="main-nav" class="nav nav-tabs nav-stacked">
    {#<li {{character}}>
        <a href="/profile/characters">
            <i class="icon-home"></i>
            角色信息
        </a>
    </li>#}
    <li {{profile}}>
        <a href="/user/profile">
            <i class="glyphicon glyphicon-user"></i>
            个人设置
        </a>
    </li>
    {#<li {{userpermission}}>
        <a href="/user/permission">
            <i class="glyphicon glyphicon-list-alt"></i>
            权限
        </a>
    </li>#}
</ul>

