<ul id="main-nav" class="nav nav-tabs nav-stacked">
    {#<li {{character}}>
        <a href="{{ url_for('player.profile_page') }}">
            <i class="icon-home"></i>
            角色信息
        </a>
    </li>#}
    <li {{profile}}>
        <a href="{{ url_for('player.user_account') }}">
            <i class="glyphicon glyphicon-user"></i>
            个人设置
        </a>
    </li>
    <li {{usermsg}}>
        <a href="{{ url_for('player.user_message') }}">
            <i class="glyphicon glyphicon-envelope"></i>
            消息  <span class="badge pull-right">{{unread_cnt}}</span>
        </a>
    </li>
    {#<li {{userpermission}}>
        <a href="/user/permission">
            <i class="glyphicon glyphicon-list-alt"></i>
            权限
        </a>
    </li>#}
</ul>

