<div class="row">
	<div class="span8">
		<div class="widget">
			<div class="widget-header">
				<h3>添加/修改角色权限</h3>
			</div> <!-- /widget-header -->
			<div class="widget-content">
                <div class="span7">
                    <h4>修改权限包含角色:</h4>
                    <div style="overflow-y: scroll; height:300px;">
                        {% for permission in permissions %}
                        <br/>
                        <form action="{{ url_for('admin.change_role_permission') }}" method="post" class="form-all" id="form-edit-roles">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="value" value="{{ permission.value }}" />
                            <table class="table table-bordered">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th colspan="6" style="text-align: center">值 {{permission.value}} 拥有的权限</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in roles %}
                                    <tr>
                                        {% for role in row %}
                                            {% if permission | hasRole(role) %}
                                                <th><input type="checkbox" name="role" value="{{role.role}}" style="margin-top:-2px" checked/> {{role.label}}</th>
                                            {% else %}
                                                <th><input type="checkbox" name="role" value="{{role.role}}" style="margin-top:-2px"/> {{role.label}}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <button type="submit" class="btn btn-primary btn-lg btn-block">保存</button>
                        </form>
                        <br/>
                        {% endfor %}
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <h4>增加权限:</h4>
                    <br/>
                    <form class="form-inline" id="form-permission" action="" method="POST">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">添加新权限</button>
                    </form>
                    <br/>
                    <hr/>
                    <br/>
                    <h4>增加角色:</h4>
                    <br/>
                    <form class="form-inline" id="form-roles" action="" method="POST">
                        {# <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> #}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">添加</div>
                                <input type="text" class="form-control" style="height:34px; border-radius:4px;" placeholder="新角色" id="input-role">
                                <input type="text" class="form-control" style="height:34px; border-radius:4px;" placeholder="标签" id="role-label">
                            </div>
                            <input type="checkbox" id="auto-select" style="margin-top:-2px" checked/>  自动添加到管理组
                        </div>
                        <br/>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">添加</button>
                    </form>
                </div>
			</div> <!-- /widget-content -->
		</div> <!-- /widget -->
	</div> <!-- /span5 -->
</div> <!-- /row -->

