<div class="row">
	<div class="span8">
		<div class="widget">
			<div class="widget-header">
				<h3>添加/修改角色权限</h3>
			</div> <!-- /widget-header -->
			<div class="widget-content">
                <div class="span7">
                    <h4>修改权限包含角色:</h4>
                    <div style="overflow-y: scroll; height:300px;">
                        {% for permission in permissions %}
                        <br/>
                        <form action="" method="post" class="form-all">
                            <table class="table table-bordered">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th colspan="6" style="text-align: center">权限 {{permission.value}} 所包含的角色</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for role in permission.roles %}
                                    <tr>
                                        {% for role in row.roles %}
                                            <th><input type="checkbox" name="{{role.role.role}}" value="{{role.role.role}}" style="margin-top:-2px"/>{{role.role.label}}</th>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <button type="submit" class="btn btn-primary btn-lg btn-block">保存</button>
                        </form>
                        <br/>
                        {% endfor %}
                    </div>

                    {#<form id="form-edit-roles" action="" method="POST">
                        <table class="table table-bordered">
                            <thead class="thead-inverse">
                                <tr>
                                    <th style="text-align: center">角色</th>
                                    {% for role,label,value in roles %}
                                        <th style="vertical-align:middle; text-align: center">{{label}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="vertical-align:middle;text-align:center">所需值</th>
                                    {% for role,label,value in roles %}
                                    <td style="vertical-align:middle;text-align:center">
                                        <div class="select-button custom-select">
                                        <select name="{{role}}">
                                            {% for s in selected %}
                                                {% if value == s %}
                                                    <option value="{{s}}" selected>{{s}}</option>
                                                {% else %}
                                                    <option value="{{s}}">{{s}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">保存</button>
                    </form>#}


                    <br/>
                    <hr/>
                    <br/>
                    <h4>增加新权限:</h4>
                    <br/>
                    <form class="form-inline" id="form-permission" action="" method="POST">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">自动添加一个权限</button>
                    </form>
                    <br/>
                    <hr/>
                    <br/>
                    <h4>增加角色:</h4>
                    <br/>
                    <form class="form-inline" id="form-roles" action="" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">添加</div>
                                <input type="text" class="form-control" style="height:34px;" placeholder="新角色" id="input-role">
                            </div>
                            <input type="text" class="form-control" style="height:34px;" placeholder="标签" id="role-label">
                            {#<select class="form-control" style="height:34px;" id="role-select">
                                {% for s in selected %}
                                <option value="{{s}}">{{s}}</option>
                                {% endfor %}
                            </select>#}

                        </div>
                      <button type="submit" class="btn btn-primary">添加</button>
                    </form>
                    <br/>
                    <hr/>
                    <br/>
                </div>
			</div> <!-- /widget-content -->
		</div> <!-- /widget -->
	</div> <!-- /span5 -->
</div> <!-- /row -->

