<div class="row">
	<div class="span8">
		<div class="widget">
			<div class="widget-header">
				<h3>修改玩家权限</h3>
			</div> <!-- /widget-header -->
			<div class="widget-content">
                <div class="span7">
                    <table id="role-table">
                    <thead>
                        <tr>
                            <th data-field="id"   class="col-md-1" data-align="center">序号</th>
                            <th data-field="name" class="col-md-4" data-align="center">用户名</th>
                            <th data-field="perm" class="col-md-4" data-align="center"
                                data-formatter="genDropdown" data-editable="true" data-valign="middle">
                                当前权限值
                            </th>
                        </tr>
                    </thead>
                </table>
                </div>
			</div> <!-- /widget-content -->
		</div> <!-- /widget -->
	</div> <!-- /span5 -->
</div> <!-- /row -->

