<ul id="main-nav" class="nav nav-tabs nav-stacked">
    {#<li {{character}}>
        <a href="/profile/characters">
            <i class="icon-home"></i>
            角色信息
        </a>
    </li>#}
    <li {{addnews}}>
        <a href="/gm/add-news">
            <i class="glyphicon glyphicon-plus-sign"></i>
            添加新闻
        </a>
    </li>
    <li {{addtutorial}}>
        <a href="/gm/add-tutorial">
            <i class="glyphicon glyphicon-magnet"></i>
            游戏指南
        </a>
    </li >
    <li {{addrole}}>
        <a href="/gm/change-user-role">
            <i class="glyphicon glyphicon-pencil"></i>
            账号权限修改
        </a>
    </li>
    <li  {{profile}}>
        <a href="/user/profile">
            <i class="glyphicon glyphicon-user"></i>
            个人设置
        </a>
    </li>
</ul>

